.footer-text {
    display: flex;
    font-size: 2vw;
      /* display: none; */
    }
    social-media-icon:hover {
        transform: rotate(360deg);
      }

      .mobile-index .social-media-icon {
        display: block;
        width: 8vw;
        margin-right: 10px;
      }