body {
  background-color: rgb(20, 42, 49);
}
h2 {
  color: rgb(114, 114, 224);
  margin-left: 50px;
  font-size: 100px;
}
nav { margin-left: 50px; 

}

img { background-image: "images/madara-parma-Lfw8ZpYaOhg-unsplash.jpg";

}
button {margin-left: 50px;}